aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
cffi==2.0.0
deprecated==1.2.18
frozenlist==1.7.0
idna==3.10
multidict==6.6.4
pixivpy-async==1.2.14
propcache==0.3.2
pycparser==2.23
python-dotenv==1.1.1
setuptools==80.9.0
socketify==0.0.31
wrapt==1.17.3
yarl==1.20.1
